
.menuContainer > div:first-child {
    display: flex;
    background: var(--orange);
    padding: 0.4rem 2rem;
}

.menuContainer > div a{
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 0.8rem;
    font-weight: 500;
    font-family: Inter, sans-serif;
}

.menuContainer > div a:first-child{
    width: 88%;
    color: var(--white);
}

.menuContainer > div span{
    white-space: nowrap;
    margin-left: 0.3rem;
    color: var(--white);
}


.menuContainer > div a:hover{
    text-decoration: none;
    opacity: 0.95;
    cursor: pointer;
    color: var(--white);
}

.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;

    background: var(--black);

    padding: 0.1rem 4rem;

    height: 7rem;
}

.menuImg{
    height: 7rem;
} 

.menu > img:hover{
    cursor:pointer;
}

.menu {
    display: flex;
}

.menu > div {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.menu ul{
    display: flex;
    flex-direction: row;
    justify-content: center;

    margin-bottom: 0;
    color: inherit;
}

.menu ul li{
    font-size: 0.875rem;
    font-weight: 700;
    text-transform: uppercase;

    margin-left: 2.5rem;

    list-style: none;
    color: var(--white);

}

.menu ul li a {
    color: inherit;
    text-decoration: none;
}

.menu ul li:hover{
    color: var(--orange);
    cursor: pointer;
}

.menu button{
    background: var(--orange);
    border: 0;
    border-radius: 2px;

    
    height: 3rem;
    width: 13rem;

    margin-left: 3rem;

    color: var(--white);
    font-weight: bold;
    font-size: 00.875rem;
    text-transform: uppercase;

    transition: 1s;
}

.menu button:hover{
    filter: opacity(90%);
}

.hamburguer{

    height: 100%;
    display: none;

    cursor: pointer;
}


@media (max-width: 980px){

    .hamburguer{
        display: flex;
        align-items: center;
        z-index: 100;
    }

    .hamburguerClose{
        position: fixed;
        right: 2rem;
        border: solid 1px var(--white);
    }

    .menuContainer{
        font-size: 87.5%;
    }

    .menu > img{
        height: 5rem;
    }

    .menu {
        align-items: flex-start;
        padding: 0 3rem;
    }

    .menu div{
        position: fixed;
        top: 0;
        right: -100%;

        
        width: 100%;
        height: 100vh;
        margin: 0;
        flex-direction: column;

        padding: 6rem 2rem;
        background: var(--orange);
        opacity: 0.95;
        z-index: 100;
        transition: 0.5s ;
        
    }

    .active div{
        right: 0;
    }
    
    .menu div ul{
        flex-direction: column;
        
        margin-top: 3rem;
        width: 90%;
    }
     
    .menu ul li{
        margin: 0.5rem 0;
        text-align: center;
        transition: 0.5s;

        font-size: 1.3rem;
    }

    .menu ul li:hover{
        border: solid 1px var(--white);
        color: var(--white);
        opacity: 0.95;
    }

    .menu button {
        width: 12rem;
        margin-left: 0;
        margin-top: 0.5rem;
        
        font-size: 1.3rem;
        border: solid 1px var(--white);
        width: 90%;
        background: var(--orange);
    }

    .menu button:hover{
        opacity: 0.95;
    }
}


@media (max-width:500px){

    .menuContainer > div:first-child{
        flex-direction: column;
    }
    .menuContainer > div a:first-child{
        width: 100%;
    }
    
    
}
